
:global(.react-tel-input .form-control) {
  width: 100%;
  height: 44px;
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1.8px solid #B1B1B1;
  font-size: 1.1rem;
  color: #222;
  box-shadow: none;
}

:global(.react-tel-input .form-control:focus) {
  border: none !important;
  border-bottom: 2px solid #989898 !important;
  outline: none;
  box-shadow: none;
}

:global(.react-tel-input:focus-within) {
  box-shadow: none;
  border: none;
}

:global(.react-tel-input .form-control:focus-visible) {
  outline: none;
}



.contactUsSection {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 70px;
}

.formSide {
  flex: 2;
  background-color: #E8E8E8;
  color: #111;
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-bottom-right-radius: 100px; */
}

.formSide h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
  margin-top: 50px;
}

.formSide p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: #111;
}

.contactUsSection form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contactUsSection label {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 1.1rem !important;
  color: #222 !important;
}

.contactUsSection label span {
  color: red;
  margin-left: 2px;
}

.contactUsSection input{
  padding: 12px;
  /* border-radius: 6px; */
  border: none;
  border-bottom: 1.8px solid #B1B1B1 !important;
  background-color: rgb(231, 229, 229, 0);
  font-size: 1.1rem;
  color: #222;
}

.contactUsSection textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1.8px solid #B1B1B1 !important;
  background-color: rgb(231, 229, 229, 0);
  font-size: 1.1rem;
  color: #222;
  resize: vertical;
}

.contactUsSection input::placeholder,
.contactUsSection textarea::placeholder {
  color: #999;
}

.contactUsSection input:focus{
  border-bottom: 2px solid #989898 !important;
  outline: none; /* removes blue highlight */
  box-shadow: none; /* removes shadow */
}

.contactUsSection textarea:focus {
  border: 2px solid #989898 !important;
  outline: none; /* removes blue highlight */
  box-shadow: none; /* removes shadow */
}

.fullWidth {
  width: 100%;
}

.sendButton {
  background-color: #111;
  color: #fff;
  border: none;
  padding: 12px 22px;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 15px;
  width: fit-content;
  align-self: left;
  font-weight: bold;
  margin-top: 15px;
}

.sendButton:hover {
  background-color: #222;
}

.phoneContainer {
  width: 100%;
  height: 44px;
  border-radius: 6px;
}

.ContactUs_formSide__MUUTC {
  color: #fff !important;
}

.imageSide {
  background-color: #111317;
  flex: 1;
}

.imageIn {
  margin-top: 60px;
  width: 100%;
  min-height: 600px;

  background-image: url('../../Assets/contactUsImg.webp'); 
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

/* @media screen and (min-width: 768px) and (max-width: 989px) {
  .formRow {
    flex-direction: column;
  }
} */


/* Responsive */
@media screen and (max-width: 992px) {
  .contactSection {
    flex-direction: column;
    margin-top: 35px;
  }

  .imageSide {
    display: none;
  }

  .formSide {
    padding: 40px 20px;
  }
}


@media screen and (max-width: 474px) {
  .formRow {
    flex-direction: column;
  }
}

