.hero {
  position: relative;
  height: 97vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;    
/*   padding-left: 80px;   */
  bottom: 7px;
}
/* .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('../../Assets/heroBanner.webp');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
} */
.content {
  position: relative;
  max-width: 700px;
  text-align: center;
  color: #fff;
}
.sub {
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: #eee;
}
.title {
  font-size: 3.1rem;
  margin: 10px 0;
}
.text {
  font-size: 1.5rem;
}
.navArrow {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
  filter: invert(1);
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}



.timerBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ccc;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  animation: fillBar 7s linear forwards;
  z-index: 5;
}

@keyframes fillBar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


@media (max-width: 992px) {
  .content {
    text-align: center !important;
    max-width: 100%;
  }
  .navArrow {
    display: none;
  }
  .hero {
    justify-content: center !important;
    padding: 40px 20px;
    height: auto;
    min-height: 95vh;
  }
  .sub {
  font-size: 0.9rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.1rem;
  }
} 





