.sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  /* padding: 3rem; */
  /* background-image: url('../../Assets/download\ \(7\).jpg'); 
  background-size: cover;
  background-position: center; */
  color: #333;
  margin: 15px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.2rem;
  color: #DC8419;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}

.subtitle {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
  color: #4D4D4D;
}

.description {
  font-size: 1.2rem;
  color: #4D4D4D;
  max-width: 90%;
  margin: 0 0 15px;
  line-height: 1.5;
}

.imagePlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ddd; */
  width: 100%;
  height: 300px;
}

.centeredImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image fits within the placeholder  */
}

.underline, .underline hr {
  width: 60px;
  background-color: #FF920D !important;
  color: #FF920D !important;
  border-color: #FF920D !important;
}


@media (max-width: 768px) {
  .sec {
    grid-template-columns: 1fr;
    /* text-align: center; */
  }

  .title {
    margin-top: 15px;
  }

  .description {
    max-width: 100%;
  }

  /* .learnMoreBtn {
    align-self: center;
  } */

  /* .imagePlaceholder {
      display: none;
  } */

}

