@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.contactSection {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 50px;
}

.formSide {
  flex: 1;
  background-image: url('../../Assets/m2.webp'); 
  color: white;
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 


.formSide h2 {
  font-size: 4rem !important;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
}

.formSide p {
  margin-bottom: 30px;
  font-size: 0.95rem;
  color: #ccc;
}

.contactSection form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contactSection label {
  font-weight: 500;
  margin-bottom: 8px;
  color: #e6e3e3 !important;
  font-size: 1.05rem !important;
}

.contactSection label span {
  color: red;
  margin-left: 2px;
}

.contactSection input,
.contactSection textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
  background-color: rgb(230, 228, 228, 0);
  font-size: 1.05rem;
  color: #e2e2e2 !important;
}

.contactSection input:focus,
.contactSection textarea:focus {
  border: 2.5px solid #777;
  outline: none; /* removes blue highlight */
  box-shadow: none; /* removes shadow */
}


.contactSection textarea {
  resize: vertical;
}

.fullWidth {
  width: 100%;
}

.sendButton {
  background-color: #DCD2C8;
  color: #111;
  border: none;
  padding: 10px 25px;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 15px;
  width: fit-content;
  align-self: center;
  font-weight: bold;
  margin-top: 15px;
}

.sendButton:hover {
  background-color: #ddd;
}

.phoneContainer {
  width: 100%;
  height: 44px;
  border-radius: 6px;
}

.phoneInput {
  width: 100% !important;
  height: 44px !important;
  border-radius: 6px !important;
  border: 1px solid #c9c7c7 !important;
  background-color: rgb(230, 228, 228, 0) !important;
  color: #e2e2e2 !important;
  font-size: 1.05rem !important;
}

/* Right Side Image */
.imageSide {
  flex: 1;
  background-image: url('../../Assets/m1.webp'); 
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) and (max-width: 989px) {
  .formRow {
    flex-direction: column;
  }
}


/* Responsive */
@media screen and (max-width: 768px) {
  .contactSection {
    flex-direction: column;
    margin-top: 35px;
  }

  .imageSide {
    display: none;
  }

  .formSide {
    padding: 40px 20px;
  }
}


@media screen and (max-width: 474px) {
  .formRow {
    flex-direction: column;
  }
}

